<h1>Lista de Productos</h1>
<ul>
  {{#each products}}
    <li>
      <strong>{{this.title}}</strong> - ${{this.price}} 
      {{#each this.thumbnails}}
        <img class= "img-home" src="{{this}}">
      {{/each}}
    </li>
  {{/each}}
</ul>

<a href="/realtimeproducts"><button>Añadir Productos</button></a>
