 <header>
    <div class="auth-buttons">
      <a href="/auth/login"><button>Iniciar Sesión</button></a>
      <a href="/auth/register"><button>Registrarse</button></a>
    </div>
  </header>

<h1>Lista de Productos</h1>
<ul>
  {{#each products}}
    <li>
      <strong>{{this.title}}</strong> - ${{this.price}} - {{this.category}}
      {{#each this.thumbnails}}
        <img class= "img-home" src="{{this}}">
      {{/each}}
    </li>
  {{/each}}
</ul>

<a href="/realtimeproducts"><button>Añadir Productos</button></a>
